<section class="home-background">
    <div class="home-container">
        <div class="home-header">
            <div class="home-header-logo">
                <a href="#">MINGJIE WANG</a>
            </div>
            <ul class="home-header-list">
                <li><a href="#" class="active">Home</a></li>
                <li><a href="test">About</a></li>
                <li><a href="/project/lion">Projects</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="/account/login">Log In</a></li>
            </ul>
        </div>
        <div class="home-content">
            <h2>Who Am I</h2>
            <p>
                Tap into the opportunities that massive IoT and 5G have to offer. Verizon and Microsoft are partnering to significantly accelerate time to market for IoT integrators and builders providing all the core, end to end components of an IoT value chain in one place.
                Tap into the opportunities that massive IoT and 5G have to offer. Verizon and Microsoft are partnering to significantly accelerate time to market for IoT integrators and builders providing all the core, end to end components of an IoT value chain in one place.
                Tap into the opportunities that massive IoT and 5G have to offer. Verizon and Microsoft are partnering to significantly accelerate time to market for IoT integrators and builders providing all the core, end to end components of an IoT value chain in one place.
            </p>
            <a href="#">Learn More</a>
        </div>
        <div class="home-image-box">
            <img src="../../../assets/image/character.png" alt="">
        </div>
        <ul class="home-contact-icon-list">
            <li><img src="../../../assets/icon/contact-icon/wechat.png"></li>
            <li><img src="../../../assets/icon/contact-icon/facebook.png"></li>
            <li><img src="../../../assets/icon/contact-icon/twitter.png"></li>
            <li><img src="../../../assets/icon/contact-icon/instagram.png"></li>
            <li><img src="../../../assets/icon/contact-icon/linkedin.png"></li>
        </ul>
        <p class="home-copyright">
            © {{currentDate | date:'yyyy'}} Mingjie Wang. All Rights Reserved
        </p>
    </div>
</section>