.paragraph-div {
  margin: 10vh 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  transition: 0.3s ease-out;
  will-change: transform;

  small {
    font-family: "Major Mono Display", monospace;
    font-size: 3vw;
  }

  .section-paragraph {
    width: 80%;
    color: white;
    font-weight: bolder;
    font-family: "raleway";
  }

  .section-title {
    font-size: 10vw;
    color: pink;
    letter-spacing: 0.5vw;
  }

  .section-name {
    font-size: 8.5vw;
  }

  .section-small-name {
    font-size: 7vw;
  }

  .section-text {
    line-height: 7.5vw;
    font-size: 6vw;
  }

  .cross-text {
    font-style: italic;
    text-decoration: line-through;
    color: lightsalmon;
  }

  .notion-text {
    color: lightsalmon;
  }

  .school-text {
    text-decoration: none;
    color: #d6001c;
  }

  .minimalism-text {
    color: grey;
    font-family: "Major Mono Display", monospace;
    font-size: 4.5vw;
  }

  .level-up-text {
    text-transform: uppercase;
    color: lightsalmon;
    span:nth-of-type(1) {
      font-size: 3vw;
    }
    span:nth-of-type(2) {
      font-size: 3.4vw;
    }
    span:nth-of-type(3) {
      font-size: 3.8vw;
    }
    span:nth-of-type(4) {
      font-size: 4.2vw;
    }
    span:nth-of-type(5) {
      font-size: 4.6vw;
    }
    span:nth-of-type(6) {
      font-size: 5vw;
    }
    span:nth-of-type(7) {
      font-size: 5.4vw;
    }
    span:nth-of-type(8) {
      font-size: 5.8vw;
    }
    span:nth-of-type(9) {
      font-size: 6.2vw;
    }
    span:nth-of-type(10) {
      font-size: 6.6vw;
    }
    span:nth-of-type(11) {
      font-size: 7vw;
    }
  }

  .adj-text {
    color: grey;
    font-size: 5.5vw;
    font-family: "Major Mono Display", monospace;
  }

  .java-text {
    padding: 0 0.5vw;
    color: #C33;
  }

  .js-text {
    padding: 0 0.5vw;
    color: black;
    background-color: #FCDC00;
  }

  .express-text {
    padding: 0 0.5vw;
    color: #77B363;
  }

  .python-text {
    padding: 0 0.5vw;
    color: #2b5b84
  }

  .angular-text {
    padding: 0 0.5vw;
    background-color:#C3002F;
  }

  .react-text {
    padding: 0 0.5vw;
    color:#61dafb;
  }

  .redux-text {
    padding: 0 0.5vw;
    color: #764abc
  }

  .r-text {
    padding: 0 0.5vw;
    color: #1E62B2;
  }

  .go-text {
    padding: 0 0.5vw;
    color: #7FD5EA;
  }
}

.mt5vh {
  margin-top: 5vh;
}

.mb5vh {
  margin-bottom: 5vh;
}

$componentSize: 30vw;
$componentSizeLarger: 33vw;
$maskSize: 6vw;
$speed: 1.5s;
$borderOffset: 4px;
$backgroundColor: grey;
$animationProps: $speed linear infinite alternate;

@keyframes mask-move {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX($componentSize - $maskSize);
  }
}

@keyframes mask-inner-move {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-($componentSize - $maskSize));
  }
}

@keyframes mask-move-smaller-screen {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX($componentSizeLarger - $maskSize);
  }
}

@keyframes mask-inner-move-smaller-screen {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-($componentSizeLarger - $maskSize));
  }
}

.focus {
  display: inline-block;
  font-size: 5.5vw;
  text-transform: uppercase;
  color: white;
  letter-spacing: 2px;
  line-height: 1;
  position: relative;
  width: $componentSize;
  &:before {
    content: "Focusing";
    filter: blur(3px);
  }
  &:after {
    content: "";
    position: absolute;
    width: $maskSize;
    height: calc(100% + #{$borderOffset});
    top: -($borderOffset);
    left: 0;
    border-top: 2px solid;
    border-bottom: 2px solid;
    animation: mask-move $animationProps;
  }
  &--mask {
    overflow: hidden;
    position: absolute;
    width: $maskSize;
    height: 100%;
    top: 0;
    left: 0;
    background: $backgroundColor;
    animation: mask-move $animationProps;
    &-inner {
      animation: mask-inner-move $animationProps;
    }
  }
}

@media (max-width: 600px) {
  .focus {
    margin-left: 1vw;
    margin-right: 2.5vw;
    &:after {
      animation: mask-move-smaller-screen $animationProps;
    }
    &--mask {
      animation: mask-move-smaller-screen $animationProps;
      &-inner {
        animation: mask-inner-move-smaller-screen $animationProps;
      }
    }
  }
}
