.paragraph-div {
  margin: 10vh 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  transition: 0.3s ease-out;
  will-change: transform;

  small {
    font-family: "Major Mono Display", monospace;
    font-size: 3vw;
  }

  .section-paragraph {
    width: 80%;
    color: white;
    font-weight: bolder;
    font-family: "raleway";
  }

  .section-title {
    font-size: 10vw;
    color: pink;
  }

  .section-name {
    font-size: 8.5vw;
  }

  .section-text {
    font-size: 6vw;
  }

  .cross-text {
    font-style: italic;
    text-decoration: line-through;
    color: lightsalmon;
  }

  .notion-text {
    color: lightsalmon;
  }

  .school-text {
    text-decoration: none;
    color: #d6001c;
  }

  .minimalism-text {
    color: grey;
    font-family: "Major Mono Display", monospace;
    font-size: 3vw;
  }

  .level-up-text {
    text-transform: uppercase;
    color: lightsalmon;
    span:nth-of-type(1) {
      font-size: 3vw;
    }
    span:nth-of-type(2) {
      font-size: 3.4vw;
    }
    span:nth-of-type(3) {
      font-size: 3.8vw;
    }
    span:nth-of-type(4) {
      font-size: 4.2vw;
    }
    span:nth-of-type(5) {
      font-size: 4.6vw;
    }
    span:nth-of-type(6) {
      font-size: 5vw;
    }
    span:nth-of-type(7) {
      font-size: 5.4vw;
    }
    span:nth-of-type(8) {
      font-size: 5.8vw;
    }
    span:nth-of-type(9) {
      font-size: 6.2vw;
    }
    span:nth-of-type(10) {
      font-size: 6.6vw;
    }
    span:nth-of-type(11) {
      font-size: 7vw;
    }
  }
}

.mt5vh {
  margin-top: 5vh;
}

.mb5vh {
  margin-bottom: 5vh;
}

$componentSize: 400px;
$maskSize: 100px;
$speed: 1s;
$borderOffset: 8px;

$backgroundColor: #89cb66;
$animationProps: $speed linear infinite alternate;

@keyframes mask-move {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX($componentSize - $maskSize);
  }
}

@keyframes mask-inner-move {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-($componentSize - $maskSize));
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.focus {
  display: inline-block;
  font-size: 6vw;
  text-transform: uppercase;
  color: white;
  letter-spacing: 0.2rem;
  line-height: 1;
  position: relative;
  width: $componentSize;
  &:before {
    content: "Focus";
    filter: blur(3px);
  }
  &:after {
    content: "";
    position: absolute;
    width: $maskSize;
    height: calc(100% + #{$borderOffset});
    top: -($borderOffset / 2);
    left: 0;
    border-top: 2px solid;
    border-bottom: 2px solid;
    animation: mask-move $animationProps;
  }
  &--mask {
    overflow: hidden;
    position: absolute;
    width: $maskSize;
    height: 100%;
    top: 0;
    left: 0;
    background: $backgroundColor;
    animation: mask-move $animationProps;
    &-inner {
      animation: mask-inner-move $animationProps;
    }
  }
}
