<div class="container shadow">
    <div class="image" style="z-index: 0;"><svg xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 400 400" preserveAspectRatio="xMidYMid slice">
            <defs>
                <clipPath id="0_circleClip">
                    <circle class="clip" cx="0" cy="0" r="7" data-svg-origin="0 0" transform="matrix(1,0,0,1,133,370)"
                        style="transform-origin: 0px 0px;"></circle>
                </clipPath>
                <clipPath id="0_squareClip">
                    <rect class="clip" width="400" height="400"></rect>
                </clipPath>
            </defs>
            <g clip-path="url(#0_squareClip)">
                <image width="400" height="400"
                    xlink:href="https://images.unsplash.com/photo-1583551536442-0fc55ac443f6?ixlib=rb-1.2.1&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=600&amp;h=600&amp;fit=min&amp;ixid=eyJhcHBfaWQiOjE0NTg5fQ">
                </image>
                <g transform="translate(0 0)"><text class="letters_0" x="0" y="0" data-svg-origin="0 -26"
                        transform="matrix(1,0,0,1,40,60)" style="transform-origin: 0px 0px; opacity: 1;">M</text><text
                        class="letters_0" x="16" y="0" data-svg-origin="16 -26" transform="matrix(1,0,0,1,40,60)"
                        style="transform-origin: 0px 0px; opacity: 1;">i</text><text class="letters_0" x="32" y="0"
                        data-svg-origin="32 -26" transform="matrix(1,0,0,1,40,60)"
                        style="transform-origin: 0px 0px; opacity: 1;">n</text><text class="letters_0" x="48" y="0"
                        data-svg-origin="48 -26" transform="matrix(1,0,0,1,40,60)"
                        style="transform-origin: 0px 0px; opacity: 1;">i</text><text class="letters_0" x="64" y="0"
                        data-svg-origin="64 0" transform="matrix(1,0,0,1,40,60)"
                        style="transform-origin: 0px 0px; opacity: 1;"> </text><text class="letters_0" x="80" y="0"
                        data-svg-origin="80 -26" transform="matrix(1,0,0,1,40,60)"
                        style="transform-origin: 0px 0px; opacity: 1;">c</text><text class="letters_0" x="96" y="0"
                        data-svg-origin="96 -26" transform="matrix(1,0,0,1,40,60)"
                        style="transform-origin: 0px 0px; opacity: 1;">a</text><text class="letters_0" x="112" y="0"
                        data-svg-origin="112 -26" transform="matrix(1,0,0,1,40,60)"
                        style="transform-origin: 0px 0px; opacity: 1;">n</text><text class="letters_0" x="128" y="0"
                        data-svg-origin="128 -26" transform="matrix(1,0,0,1,40,60)"
                        style="transform-origin: 0px 0px; opacity: 1;">i</text><text class="letters_0" x="144" y="0"
                        data-svg-origin="144 -26" transform="matrix(1,0,0,1,40,60)"
                        style="transform-origin: 0px 0px; opacity: 1;">n</text><text class="letters_0" x="160" y="0"
                        data-svg-origin="160 -26" transform="matrix(1,0,0,1,40,60)"
                        style="transform-origin: 0px 0px; opacity: 1;">e</text></g>
            </g>
        </svg></div>
    <div class="image" style="z-index: 7;"><svg xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 400 400" preserveAspectRatio="xMidYMid slice">
            <defs>
                <clipPath id="1_circleClip">
                    <circle class="clip" cx="0" cy="0" r="7" data-svg-origin="0 0" transform="matrix(1,0,0,1,157,370)"
                        style="transform-origin: 0px 0px;"></circle>
                </clipPath>
                <clipPath id="1_squareClip">
                    <rect class="clip" width="400" height="400"></rect>
                </clipPath>
            </defs>
            <g clip-path="url(#1_circleClip)">
                <image width="400" height="400"
                    xlink:href="https://images.unsplash.com/photo-1583797227225-4233106c5a2a?ixlib=rb-1.2.1&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=600&amp;h=600&amp;fit=min&amp;ixid=eyJhcHBfaWQiOjE0NTg5fQ">
                </image>
                <g transform="translate(0 0)"><text class="letters_1" x="0" y="0">W</text><text class="letters_1" x="16"
                        y="0">h</text><text class="letters_1" x="32" y="0">e</text><text class="letters_1" x="48"
                        y="0">e</text><text class="letters_1" x="64" y="0">l</text><text class="letters_1" x="80"
                        y="0">y</text><text class="letters_1" x="96" y="0"> </text><text class="letters_1" x="112"
                        y="0">t</text><text class="letters_1" x="128" y="0">e</text><text class="letters_1" x="144"
                        y="0">n</text><text class="letters_1" x="160" y="0">t</text></g>
            </g>
        </svg></div>
    <div class="image" style="z-index: 7;"><svg xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 400 400" preserveAspectRatio="xMidYMid slice">
            <defs>
                <clipPath id="2_circleClip">
                    <circle class="clip" cx="0" cy="0" r="7" data-svg-origin="0 0" transform="matrix(1,0,0,1,181,370)"
                        style="transform-origin: 0px 0px;"></circle>
                </clipPath>
                <clipPath id="2_squareClip">
                    <rect class="clip" width="400" height="400"></rect>
                </clipPath>
            </defs>
            <g clip-path="url(#2_circleClip)">
                <image width="400" height="400"
                    xlink:href="https://images.unsplash.com/photo-1561626450-730502dba332?ixlib=rb-1.2.1&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=600&amp;h=600&amp;fit=min&amp;ixid=eyJhcHBfaWQiOjE0NTg5fQ">
                </image>
                <g transform="translate(0 0)"><text class="letters_2" x="0" y="0">R</text><text class="letters_2" x="16"
                        y="0">e</text><text class="letters_2" x="32" y="0">d</text><text class="letters_2" x="48" y="0">
                    </text><text class="letters_2" x="64" y="0">f</text><text class="letters_2" x="80"
                        y="0">o</text><text class="letters_2" x="96" y="0">o</text><text class="letters_2" x="112"
                        y="0">d</text><text class="letters_2" x="128" y="0"> </text><text class="letters_2" x="144"
                        y="0">t</text><text class="letters_2" x="160" y="0">h</text><text class="letters_2" x="176"
                        y="0">i</text><text class="letters_2" x="192" y="0">n</text><text class="letters_2" x="208"
                        y="0">g</text><text class="letters_2" x="224" y="0">s</text></g>
            </g>
        </svg></div>
    <div class="image" style="z-index: 7;"><svg xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 400 400" preserveAspectRatio="xMidYMid slice">
            <defs>
                <clipPath id="3_circleClip">
                    <circle class="clip" cx="0" cy="0" r="7" data-svg-origin="0 0" transform="matrix(1,0,0,1,205,370)"
                        style="transform-origin: 0px 0px;"></circle>
                </clipPath>
                <clipPath id="3_squareClip">
                    <rect class="clip" width="400" height="400"></rect>
                </clipPath>
            </defs>
            <g clip-path="url(#3_circleClip)">
                <image width="400" height="400"
                    xlink:href="https://images.unsplash.com/photo-1585221454166-ce690e60465f?ixlib=rb-1.2.1&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=600&amp;h=600&amp;fit=min&amp;ixid=eyJhcHBfaWQiOjE0NTg5fQ">
                </image>
                <g transform="translate(0 0)"><text class="letters_3" x="0" y="0">S</text><text class="letters_3" x="16"
                        y="0">a</text><text class="letters_3" x="32" y="0">n</text><text class="letters_3" x="48"
                        y="0">d</text><text class="letters_3" x="64" y="0"> </text><text class="letters_3" x="80"
                        y="0">b</text><text class="letters_3" x="96" y="0">o</text><text class="letters_3" x="112"
                        y="0">a</text><text class="letters_3" x="128" y="0">t</text></g>
            </g>
        </svg></div>
    <div class="image" style="z-index: 7;"><svg xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 400 400" preserveAspectRatio="xMidYMid slice">
            <defs>
                <clipPath id="4_circleClip">
                    <circle class="clip" cx="0" cy="0" r="7" data-svg-origin="0 0" transform="matrix(1,0,0,1,229,370)"
                        style="transform-origin: 0px 0px;"></circle>
                </clipPath>
                <clipPath id="4_squareClip">
                    <rect class="clip" width="400" height="400"></rect>
                </clipPath>
            </defs>
            <g clip-path="url(#4_circleClip)">
                <image width="400" height="400"
                    xlink:href="https://images.unsplash.com/photo-1585427795543-33cf23ea2853?ixlib=rb-1.2.1&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=600&amp;h=600&amp;fit=min&amp;ixid=eyJhcHBfaWQiOjE0NTg5fQ">
                </image>
                <g transform="translate(0 0)"><text class="letters_4" x="0" y="0">A</text><text class="letters_4" x="16"
                        y="0">n</text><text class="letters_4" x="32" y="0">i</text><text class="letters_4" x="48"
                        y="0">m</text><text class="letters_4" x="64" y="0">a</text><text class="letters_4" x="80"
                        y="0">l</text><text class="letters_4" x="96" y="0"> </text><text class="letters_4" x="112"
                        y="0">C</text><text class="letters_4" x="128" y="0">r</text><text class="letters_4" x="144"
                        y="0">o</text><text class="letters_4" x="160" y="0">s</text><text class="letters_4" x="176"
                        y="0">s</text><text class="letters_4" x="192" y="0">i</text><text class="letters_4" x="208"
                        y="0">n</text><text class="letters_4" x="224" y="0">g</text><text class="letters_4" x="240"
                        y="0"> </text><text class="letters_4" x="256" y="0">b</text><text class="letters_4" x="272"
                        y="0">o</text><text class="letters_4" x="288" y="0">x</text></g>
            </g>
        </svg></div>
    <div class="image" style="z-index: 7;"><svg xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 400 400" preserveAspectRatio="xMidYMid slice">
            <defs>
                <clipPath id="5_circleClip">
                    <circle class="clip" cx="0" cy="0" r="7" data-svg-origin="0 0" transform="matrix(1,0,0,1,253,370)"
                        style="transform-origin: 0px 0px;"></circle>
                </clipPath>
                <clipPath id="5_squareClip">
                    <rect class="clip" width="400" height="400"></rect>
                </clipPath>
            </defs>
            <g clip-path="url(#5_circleClip)">
                <image width="400" height="400"
                    xlink:href="https://images.unsplash.com/photo-1507160874687-6fe86a78b22e?ixlib?ixlib=rb-1.2.1&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=600&amp;h=600&amp;fit=min&amp;ixid=eyJhcHBfaWQiOjE0NTg5fQ">
                </image>
                <g transform="translate(0 0)"><text class="letters_5" x="0" y="0">H</text><text class="letters_5" x="16"
                        y="0">o</text><text class="letters_5" x="32" y="0">r</text><text class="letters_5" x="48"
                        y="0">s</text><text class="letters_5" x="64" y="0">e</text><text class="letters_5" x="80" y="0">
                    </text><text class="letters_5" x="96" y="0">t</text><text class="letters_5" x="112"
                        y="0">o</text><text class="letters_5" x="128" y="0">r</text><text class="letters_5" x="144"
                        y="0">n</text><text class="letters_5" x="160" y="0">a</text><text class="letters_5" x="176"
                        y="0">d</text><text class="letters_5" x="192" y="0">o</text></g>
            </g>
        </svg></div>
    <div class="tabs"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 0 400 400" preserveAspectRatio="xMidYMid slice">
            <circle class="border" cx="133" cy="370" r="9"></circle>
            <circle class="border" cx="157" cy="370" r="9"></circle>
            <circle class="border" cx="181" cy="370" r="9"></circle>
            <circle class="border" cx="205" cy="370" r="9"></circle>
            <circle class="border" cx="229" cy="370" r="9"></circle>
            <circle class="border" cx="253" cy="370" r="9"></circle>
        </svg></div>
</div>